@use '../abstracts' as *;

.hero {
  width: 100%;
  @include flex(column, space-between, center);
  margin-top: 3rem;
  gap: 4rem;
  position: relative;
  overflow: hidden;

  &__header {
    width: 90%;
    max-width: 339px;
    @include grid(center);
    gap: 2rem;

    h1 {
      font-size: 48px;
      line-height: 48px;
      margin: 0;
    }

    p {
      text-align: left;
      margin: 0;
    }

    &__btns {
      width: 100%;
      @include flex(row, space-between, center);

      p {
        font-size: 1rem;
        font-weight: $bold;
        margin: 0;
        text-transform: uppercase;
      }
    }
  }

  &__body {
    width: 372px;
    height: 330px;
    border-radius: $borderRadius-2;
    transform: translateX(1.5rem);
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      width: 372px;
      height: 100%;
      background: url(/images/mobile/image-keyboard.jpg) no-repeat center
        center/cover;
      position: absolute;
    }
  }
}
@media (min-width: $tablets) {
  .hero {
    flex-direction: row;
    position: relative;

    &__header{
      margin-left: 1.5rem;
    }

    &__body {
      width: 478px;
      height: 425px;



      &::after {
        width: 478px;
        height: 425px;
        background: url(/images/tablet/image-keyboard.jpg) no-repeat center
          center/cover;
      }
    }
  }
}
