@use '../abstracts' as *;


/* images */

.logoContainer{
  width: 40px;
  height: 40px;
  @include grid(center);
}
.imgContainer {
  width: 40vw;
  max-width:$maxWidth;
  // border: 5px solid $primary-500;
  border-radius:$borderRadius;
}
.img{
    width: 100%;
    display: block;
    object-fit: cover;
  }