@use '../abstracts' as *;
@use'./typo' as *;
@use '../layout/' as *;
@use '../components' as *;
*,
::after,
::before {
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding: 1.5rem;
  max-width:$maxWidth;

}