

  $primary-400: hsl(22, 100%, 69%);
  $primary-500: hsl(22, 89%, 52%);


  $grey-200: hsl(0, 0%, 100%);
  $grey-300: hsl(198, 28%, 93%);
  $grey-400: hsl(221, 23%, 58%);
  $grey-500: hsl(220, 50%, 17%);

